/* 加入我们 */
.join p {
  line-height: 22px;
}

/* 大型轮播图 */
.join-banner {
  position: relative;
  height: 700px;
}

.join-banner-bg,
.join-cont-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

/* 正文 */
.join-cont {
  padding: 40px 0;
}

.join-1 h2,
.join-2 h2,
.join-3 h2 {
  padding: 15px 0 40px;
  position: relative;
  font-size: 24px;
  color: #1B2E45;
}

.join-1 h2:before,
.join-2 h2:before,
.join-3 h2:before {
  content: '';
  width: 40px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background: #D61918;
}

/* 招聘分类图 */
.join-cont-imgboxs {
  margin: 0 auto 40px;
  max-width: 1200px;
}

.join-cont-imgbox {
  flex: 1;
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.join-cont-imgthumb,
.join-cont-img {
  width: 100%;
  height: auto;
}

.join-cont-img {
  position: absolute;
  top: 0;
  left: 0;
}

.join-cont-imgbox:first-child {
  margin-right: 20px;
}

.join-cont-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  color: #fff;
  white-space: nowrap;
}

/* 办公环境 */
.join-1 {
  padding: 40px 0;
  background: #f8f8f8;
}

.join-1-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.join-1-imgbox,
.join-1-imgbox>div {
  display: block;
  width: 100%;
  position: relative;
}

.join-1-imgbox {
  margin-left: 20px;
  flex: 1;
}

.join-1-imgbox:first-child {
  margin-left: 0;
}

.join-1-imgbox>div:first-child {
  margin-bottom: 20px;
}

.join-1-imgbox>img {
  height: 600px;
}

.join-1-imgbox>div>img {
  height: 290px;
}

/* 薪酬福利 */
.join-2 {
  padding: 40px 0;
}

.join-2-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.join-p {
  margin-bottom: 50px;
  padding-left: 55px;
}

.join-p:last-of-type {
  margin-bottom: 0 !important;
}

.join-p h3 {
  margin-bottom: 16px;
  position: relative;
  font-size: 23px;
  line-height: 40px;
  color: #000;
}

.join-p h3:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: -55px;
  top: 0;
  background: #1B2E45;
  border-radius: 50%;
}

.join-p1 h3:before {
  background: linear-gradient(180deg, rgba(242, 201, 76, 1) 0%, rgba(242, 153, 74, 1) 100%);
}

.join-p2 h3:before {
  background: linear-gradient(180deg, rgba(2, 185, 255, 1) 0%, rgba(48, 79, 255, 1) 100%);
}

.join-p3 h3:before {
  background: linear-gradient(180deg, rgba(143, 148, 251, 1) 0%, rgba(78, 84, 200, 1) 100%);
}

.join-p4 h3:before {
  background: linear-gradient(180deg, rgba(242, 201, 76, 1) 0%, rgba(242, 153, 74, 1) 100%);
}

.join-p5 h3:before {
  background: linear-gradient(180deg, rgba(2, 185, 255, 1) 0%, rgba(48, 79, 255, 1) 100%);
}

.join-p6 h3:before {
  background: linear-gradient(180deg, rgba(143, 148, 251, 1) 0%, rgba(78, 84, 200, 1) 100%);
}

.join-p7 h3:before {
  background: linear-gradient(180deg, rgba(242, 201, 76, 1) 0%, rgba(242, 153, 74, 1) 100%);
}

.join-p8 h3:before {
  background: linear-gradient(180deg, rgba(2, 185, 255, 1) 0%, rgba(48, 79, 255, 1) 100%);
}

.join-p-cont * {
  padding: 0;
  margin: 0;
  line-height: 22px !important;
  color: #333 !important;
  font-size: 14px !important;
}

/* 文体活动 */
.join-3 {
  padding: 40px 0;
  background: #f8f8f8;
}

.join-3-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

/* 响应式 */
@media (max-width: 1280px) {}

@media (max-width: 1024px) {
  .join-banner {
    height: 150px;
  }

  .join-cont {
    padding: 20px 0;
  }

  .join-cont-imgboxs {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .join-cont-h1 {
    font-size: 20px;
  }

  .join-1,
  .join-2,
  .join-3 {
    padding: 20px 10px;
  }

  .join-1 h2,
  .join-2 h2,
  .join-3 h2 {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .join-1-imgboxs {
    display: block;
  }

  .join-1-imgbox {
    margin: 0 0 20px;
  }

  .join-1-imgboxs>.join-1-imgbox:last-child {
    margin-bottom: 0;
  }

  .join-1-imgbox img {
    width: 100%;
    height: auto;
  }

  .join-p h3 {
    font-size: 18px;
    line-height: 31px;
  }

  .join-p h3:before {
    width: 31px;
    height: 31px;
    left: -38px;
  }

  .join-p {
    margin-bottom: 25px;
    padding-left: 38px;
  }

  .join-p:last-of-type {
    margin-bottom: 20px;
  }
}
