/* 加入我们 */
.join p {
  line-height: 22px;
}

.join-banner {
  margin-bottom: 40px;
}

.join-cont-imgboxs,
.join-p {
  margin: 0 auto 60px;
  max-width: 1200px;
}

.join-cont-imgthumb,
.join-cont-img {
  width: 590px;
  height: 300px;
}

/* 大型轮播图 */
.join-banner {
  position: relative;
  height: 600px;
}

.join-banner-bg,
.join-cont-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

/* 招聘分类图 */
.join-cont-imgbox {
  flex: 1;
  display: block;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.join-cont-imgthumb,
.join-cont-img {
  width: 100%;
  height: auto;
}

.join-cont-img {
  position: absolute;
  top: 0;
  left: 0;
}

.join-cont-imgbox:first-child {
  margin-right: 20px;
}

.join-cont-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68px;
  color: #fff;
  white-space: nowrap;
}

/* 薪资待遇、薪资结构等 */
.join-p:last-of-type {
  margin-bottom: 0;
}

.join-p h2 {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0 32px;
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
	background: #1B2E45;
}

.join-p h2:before {
  content: '';
  width: 5px;
  height: 60px;
  position: absolute;
  left: -10px;
  top: 0;
  background: #1B2E45;
}

.join-p1 h2,
.join-p1 h2:before {
  background: linear-gradient(180deg, rgba(2, 185, 255, 1) 0%, rgba(0, 121, 255, 1) 100%);
}

.join-p2 h2,
.join-p2 h2:before {
  background: linear-gradient(180deg, rgba(143, 148, 251, 1) 0%, rgba(78, 84, 200, 1) 100%);
}

.join-p3 h2,
.join-p3 h2:before {
  background: linear-gradient(180deg, rgba(18, 216, 250, 1) 0%, rgba(31, 162, 255, 1) 100%);
}

.join-p4 h2,
.join-p4 h2:before {
  background: linear-gradient(180deg, rgba(242, 201, 76, 1) 0%, rgba(242, 153, 74, 1) 100%);
}

.join-p5 h2,
.join-p5 h2:before {
  background: linear-gradient(180deg, rgba(109, 213, 250, 1) 0%, rgba(41, 128, 185, 1) 100%);
}

.join-p6 h2,
.join-p6 h2:before {
  background: linear-gradient(180deg, rgba(255, 195, 113, 1) 0%, rgba(255, 95, 109, 1) 100%);
}

.join-p7 h2,
.join-p7 h2:before {
  background: linear-gradient(180deg, rgba(207, 139, 243, 1) 0%, rgba(167, 112, 239, 1) 100%)
}

.join-p8 h2,
.join-p8 h2:before {
  background: linear-gradient(180deg, rgba(109, 213, 237, 1) 0%, rgba(33, 147, 176, 1) 100%);
}

.join-p-cont * {
  padding: 0;
  margin: 0;
  line-height: 22px !important;
  color: #333 !important;
  font-size: 14px !important;
}

/* 响应式 */
@media (max-width: 1280px) {}

@media (max-width: 1024px) {
  .join-banner {
    height: 150px;
  }

  .join-banner {
    margin-bottom: 20px;
  }

  .join-cont {
    padding: 0 20px;
  }

  .join-cont-imgboxs,
  .join-p {
    margin-bottom: 30px;
  }
	
	.join-p h2 {
		padding: 0 12px;
		font-size: 18px;
		line-height: 40px;
	}
	
	.join-p h2:before {
		height: 40px;
	}

  .join-cont-h1 {
    font-size: 20px;
  }

  .join-p:last-of-type {
    margin-bottom: 20px;
  }
}
